[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-bufferline"]
	path = pack/plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/plugins/start/vim-elm"]
	path = pack/plugins/start/vim-elm
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/plugins/start/completor"]
	path = pack/plugins/start/completor
	url = https://github.com/maralla/completor.vim.git
[submodule "pack/plugins/start/vim-colorschemes"]
	path = pack/plugins/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
